/ {
    aliases {
        led0 = &blue_led;
        led1 = &top_lock;
        led2 = &top_light;
	    led3 = &bottom_lock;
	    led4 = &bottom_light;

        swtop = &topsw;
        swbottom = &bottomsw;
    };

    leds {
        compatible = "gpio-leds";
        blue_led: led_0 {
            gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
            label = "Blue LED (D7)";
            };
	    top_lock: led_1 {
            gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
            label = "Top locker solenoid";
            };
        top_light: led_2 {
            gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
            label = "Top locker LED strip";
            };
        bottom_lock: led_3 {
            gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
            label = "Bottom locker solenoid";
            };
        bottom_light: led_4 {
            gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
            label = "Bottom locker LED strip";
            };
    };
    
    gpio_keys {
        compatible = "gpio-keys";
        topsw: top_sw {
            gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
            label = "Top switch for locker, hooked to pin D8";
        };
        bottomsw: bottom_sw {
            gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
            label = "Bottom switch for locker, hooked to pin D6";
        };
    };

};

&i2c1 {
    bme280@77 {
        compatible = "bosch,bme280";
        reg = <0x77>;
        label = "BME280_I2C";
    };
    ccs811@5B {
        compatible = "ams,ccs811";
        reg = <0x5B>;
        label = "CCS811";
    };
    vl53l1x@29 {
        compatible = "st,vl53l0x";
        reg = <0x29>;
        label = "VL53L0X";
    };
};